<% if flash[:notice] %>
	<%= flash[:notice]%><br/>
<% end %>
<h2>Create</h2>
<%= form_tag(:controller => "account", :action => "new") do %> 
	<b>Book name :&emsp;<%= text_field(:books, :book_name) %><br /><br />
	Author name :&nbsp;<br>
	<%= @author.each do |ath|%>
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<%= radio_button(:authors, :id,ath.id) %><%=ath.author_name%><br>	
	<%end%><br>
	Book Type :&emsp;&nbsp;<%= text_field(:books, :book_type)%><br /><br/>
	Book Qty &#160; :&emsp;&nbsp;<%= number_field(:books, :book_qty)%><br /><br/>
	Book Price : ₹ <%= number_field(:books, :bookprice)%><br /><br/>
	<p>&#160;&#160;&#160;<%= submit_tag "Create"%></p></b>
<% end %>
<%= form_tag(:controller => "account",:action => "show") do %>
	&emsp;<%= submit_tag "Back"%>
<% end %>
