<% if flash[:notice] %>
	<%= flash[:notice]%><br/>
<% end %>
<h2>Create</h2>
<%= form_tag(:controller => "account", :action => "new") do %> 
	<b>Book name :<%= text_field(:books, :book_name) %><br /><br />
	Book Id &emsp;&nbsp;:<%= text_field(:books, :book_id)%><br /><br/>
	Book Type :<%= text_field(:books, :book_type)%><br /><br/>
	Book Qty &#160; :<%= number_field(:books, :book_qty)%><br /><br/>
	Book Price : ₹<%= number_field(:books, :bookprice)%><br /><br/>
	<p>&#160;&#160;&#160;<%= submit_tag "Create"%></p></b>
<% end %>
<%= form_tag(:controller => "account",:action => "redirect") do %>
	&emsp;<%= submit_tag "Back"%>
<% end %>
