<% if flash[:notice] %>
	<%= flash[:notice]%><br/>
<% end %>
<h1>Signup</h1>
<%= form_tag(:controller => "user", :action => "new") do %> 
	<table>
	<tr><td><b>Username </td><td>:<%= text_field(:accounts, :user_name) %></tr></td>
	<tr><td><b>Password </td><td>:<%= password_field(:accounts, :password)%></tr></td>
	<tr><td><b>Confirm Password </td><td>:<%= password_field(:account,:password)%></tr></td>
	<tr><td><b>Phone No </td><td>:<%= phone_field(:accounts, :phone)%></tr></td>
	<tr><td><b>Email Id </td><td>:<%= email_field(:accounts, :email)%></tr></td>
	</table>
	<p>&#160;&#160;&#160;<%= submit_tag "Create"%></p>
<% end %>
<%= form_tag(:controller => "user",:action =>"redirect") do %>
	&#160;&#160;&#160;&#160;<%= submit_tag "Back"%>
<% end %>